.qualifying {
    &__table-container {
        width: 100%;
        display: flex;
    }

    &__end-subtable-container {
        &--left {
            border-right: solid 1px #ffc0bd;
            flex-shrink: 0;
        }
        &--right {
            border-left: solid 1px #ffc0bd;
            flex-shrink: 0;
        }
    }

    &__results-subtable-container {
        overflow-x: auto;
    }

    &__table-cell {
        padding: 18px 20px 14px;
        white-space: nowrap;
    }

    &__table-header {
        padding: 18px 20px 14px;
        white-space: nowrap;
    }

    &__driver {
        color: #4a4a4a;
        font-weight: 700;
        white-space: nowrap;
    }

    &__car {
        color: gray;
        font-weight: 600;
        text-transform: uppercase;
        white-space: nowrap;
    }

    &__track {
        color: #4a4a4a;
    }
}