@import '../variables';

.header {
	background-color: #e10600;
	color: #fff;
	font-weight: 600;
	align-items: center;
	position: fixed;
    width: 100%;
	z-index: 10;

	&__top {
		display: flex;
		gap: 5vw;
		padding: 16px;
		@media screen and (max-width: $small-screen-width) {
			gap: 3vw;
		}
	}

	&__dropdown-chevron {
		padding-left: 8px;
	}

	&__title {
		font-family: strl-font;
		cursor: pointer;
		font-size: 28px;
		font-style: italic;
		line-height: normal;
	}

	&__burger-menu {
		display: none;
	}

	&__nav-links {
		display: grid;
		gap: 3.5vw;
		grid-auto-flow: column;
		@media screen and (max-width: $small-screen-width) {
			gap: 2.5vw;
		}
	}

	&__chevron {
		display: none;
	}

	&__nav-link-text {
		font-family: strl-font;
		white-space: nowrap;
	}

	&__nav-link-label {
		padding-right: 14px;
		padding-bottom: 7px;
		white-space: nowrap;
	}

	&__nav-link--active {
		border: solid 2px #fff;
		border-top: 0;
		border-left: 0;
		border-bottom-right-radius: 10px;
	}

	&__nav-link--inactive {
		border: solid 1px #f08380;
		border-top: 0;
		border-left: 0;
		border-bottom-right-radius: 10px;
	}

	&__nav-bootstrap-dropdown {
		> button, > button:active, > button:active, > button:focus, > button:hover, > button:after {
			background-color: transparent;
			border: none;
			outline: none;
			box-shadow: none;
			--bs-btn-focus-box-shadow: none;
			padding: 0;
		}

		> button:after {
			display: none;
		}
	}

	&__nav-sub-links {
		margin: 0;
		padding: 8px 16px;
		background: black;
		&--empty {
			height: 0;
			padding: 0;
		}
		display: flex;
		flex-direction: column;
		gap: 8px;
		& .header__nav-link--inactive {
			border: solid 1px #fff;
			border-top: 0;
			border-left: 0;
			border-bottom-right-radius: 10px;
		}
	}

	&__nav-link {
		cursor: pointer;
	}
}

@media screen and (max-width: $mobile-width) {
	.header {

		&__top {
			display: block;
		}

		&__responsive-bar {
			display: grid;
			grid-auto-flow: column;
			width: 100%;
			align-items: center;
		}

		&__dropdown-chevron {
			display: none;
		}

		&__title {
			font-family: strl-font;
			cursor: pointer;
			margin: auto 0;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
		}

		&__burger-menu {
			order: -1;
			float: left;
			height: 32px;
			width: 32px;
			display: block;
		}

		&__nav-links {
			display: none;

			&--expanded {
				margin-top: 8px;
				grid-auto-flow: row;
				display: grid;
			}
		}

		&__nav-link {
			padding: 5px 15px;
			width: 100%;
			display: inline;
		}

		&__nav-link-label {
			padding: 10px 10px 10px 0;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&__nav-link--active {
			border: solid 2px #fff;
			border-top: 0;
			border-left: 0;
			border-bottom-right-radius: 10px;
		}

		&__nav-link--inactive {
			border: solid 1px #f08380;
			border-top: 0;
			border-left: 0;
			border-bottom-right-radius: 10px;
		}

		&__chevron {
			display: block;
		}
		&__nav-sub-links {
			margin: 0 -16px;
		}
	}
}