@import '../../variables';

.tabs {
    display: flex;
    align-items: center;
    justify-content: start;

    &__container {
        display: flex;
        position: relative;
        background-color: #fff;
        border: solid 1px #d9d9d9;
        padding: 6px;
        border-radius: 99px; // just a high number to create pill effect
        * {
            z-index: 2;
        }
    }

    & input[type="radio"] {
        display: none;
    }

    &__icon {
        height: 100%;
    }
}