@import '../variables';

.statistics {
    display: grid;
    gap: 1.5rem;
    @media screen and (max-width: $mobile-width) {
        gap: 1rem;
    }

    &__title {
        margin-left: 0;
        margin-bottom: 0;
    }
    
    &__title-container {
        display: grid;
        grid-auto-flow: row;
        gap: 0.5em;
        margin: 0 18px;
    }

    &__filter-bar {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: $mobile-width) {
            display: grid;
            gap: 1rem;
        }
    }
}