@import '../../variables';

.constructor-badge {
    border-radius: 100%;
    width: 40px;
    text-align: center;
    margin-left: 4px;
    font-size: 12px;
    font-weight: 700;

    @media screen and (max-width: $mobile-width) {
        font-size: 8px;
        width: 30px;
        font-weight: bolder;
        border-radius: 100%;
        margin-left: 4px;
    }

    &__mer {
        background-color: $constants__mercedes--primary;
    }

    &__rb {
        background-color: $constants__red-bull--primary;
    }

    &__fer {
        background-color: $constants__ferrari--primary;
    }

    &__rp {
        background-color: $constants__racing-point--primary;
    }

    &__wil {
        background-color: $constants__williams--primary;
    }

    &__ren {
        background-color: $constants__renault--primary;
    }

    &__mcl {
        background-color: $constants__mclaren--primary;
    }

    &__alfa {
        background-color: $constants__alfa-romeo--primary;
    }

    &__alph {
        background-color: $constants__alpha-tauri--primary;
    }

    &__haas {
        background-color: $constants__haas--primary;
    }
}