.schedule {
    display: grid;
    gap: 2.5em;

    &__title {
        margin-left: 18px;
        margin-bottom: 0;
    }

    &__table-container {
        width: 100%;
        display: flex;
        overflow-x: auto;
    }

    &__table-cell {
        padding: 18px 20px 14px;
        white-space: nowrap;
    }

    &__table-header {
        padding: 18px 20px 14px;
        white-space: nowrap;
    }
}