@import '../variables';

.highlights {
    display: grid;
    gap: 2.5em;
    
    &__title {
        margin-left: 18px;
        margin-bottom: 0;
    }

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    @media screen and (max-width: $mobile-width) {
        &__container {
            display: grid;
            grid-template-columns: 1fr;
            gap: 2rem;
        }
    }
}