$mobile-width: 920px;
$small-screen-width: 1024px;

$constants__mercedes--primary: rgba(108, 211, 191, 0.3);
$constants__mercedes--secondary: rgba(108, 211, 191, 0.4);
$constants__red-bull--primary: rgba(30, 91, 198, 0.3);
$constants__red-bull--secondary: rgba(30, 91, 198, 0.4);
$constants__ferrari--primary: rgba(237, 28, 36, 0.3);
$constants__ferrari--secondary: rgba(237, 28, 36, 0.4);
$constants__mc-laren--primary: rgba(245, 128, 32, 0.3);
$constants__mc-laren--secondary: rgba(245, 128, 32, 0.4);
$constants__alpine--primary: rgba(34, 147, 209, 0.3);
$constants__alpine--secondary: rgba(34, 147, 209, 0.4);
$constants__alpha-tauri--primary: rgba(78, 124, 155, 0.3);
$constants__alpha-tauri--secondary: rgba(78, 124, 155, 0.4);
$constants__aston-martin--primary: rgba(45, 130, 109, 0.3);
$constants__aston-martin--secondary: rgba(45, 130, 109, 0.4);
$constants__williams--primary: rgba(55, 190, 221, 0.3);
$constants__williams--secondary: rgba(55, 190, 221, 0.4);
$constants__alfa-romeo--primary: rgba(172, 32, 57, 0.3);
$constants__alfa-romeo--secondary: rgba(172, 32, 57, 0.4);
$constants__haas--primary: rgba(182, 186, 189, 0.3);
$constants__haas--secondary: rgba(182, 186, 189, 0.4);
