@import './variables';

.app {
    background-color: #f7f4f1;
    padding: 40px;
    @media screen and (max-width: $mobile-width) {
        padding: 40px 0;
    }

    &__content-card {
        background:  #fff;
        padding: 26px;
        @media screen and (max-width: $mobile-width) {
            padding: 26px 0;
        }
    }
}
