@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,600i');

@font-face {
  font-family: 'F1BoldRegular';
  src: url(../fonts/Formula1-Bold.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'F1WideRegular';
  src: url(../fonts/Formula1-Wide.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'F1Black';
  src: url(../fonts/Formula1-Black.ttf);
  font-weight: 500;
}

@font-face {
  font-family: strl-font;
  src: url(../fonts/Formula1-Regular.ttf);
}

*,
html {
  margin: 0;
  padding: 0;
  line-height: 23px;
  font-family: 'Titillium Web', Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: .2px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  scroll-behavior: smooth;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

button,
button:focus,
button:active {
  outline: none;
  background: transparent;
  border: 1px solid transparent;
  color: inherit;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;

  & tr:nth-child(even) {
    background: #f4f4f4
  }
}

th {
  color: gray;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  text-align: left;
}

td {
  color: #4a4a4a;
  font-weight: 700;
  font-size: 13px;
}

h1 {
  font-family: strl-font;
  margin-bottom: 48px;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.142;
  color: #171717;
}

legend {
  float: initial;
  width: initial;
  padding: initial;
  margin-bottom: initial;
  font-size: initial;
  line-height: initial;
}