.table-tooltip {
    position: relative;
    display: inline-block;
}

.table-tooltip .table-tooltip__text {
    display: none;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    z-index: 1;
}

.table-tooltip:hover .table-tooltip__text,
.table-tooltip:active .table-tooltip__text {
    display: block;
}